
.Afterbooking{
    margin-top: 100px;
}
.test__ok {
    background-color: greenyellow;
}

/* .test__ok :hover{
    background-color: blue;
} */

.userbooking__bg{
    background-color: rgb(19,28,43);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position: left;
    left: 0;
    margin-top: -100px;
}

.userbookingRoot__bg{
    margin-top: -30%;
    background-color: rgb(19,28,43);
    /* height: 200vh; */
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position: left;
    left: 0;
    top: 0;
    
}

.group1_table{
    margin-left: 584.5px;
}

.test2__ok{
    background-color: white;
}

.bg__false{
    background-color: red;
}

.Booking__table td:hover{
    transform: translate(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    background : greenyellow;
}

.Booking__table td:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.Test :hover{
    color : red;
    background : blue;
}

.Test{
    color : blue;
    font-size: 30px;
    /* //background-color: blue; */
}

.Booking__submit{
    border: solid 2px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    font-size: 30px;
    color: white;
    background-color: green;
}

.Booking__submit:active{
    background-color: white;
}

.Booking__clear{
    border: solid 2px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    font-size: 30px;
    color: white;
    background-color: orange;
}

.Booking__clear:active{
    background-color: white;
}
