.booking{
    margin-top: 25%;
}

.booking__page{
    display: flex;
    /* background-image: url('/tennis.jpg'); */
    background-color:rgb(19,28,43);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position: left;
    left: 0;
    top: 0;
}

.booking__process{
    margin-top: 20%;
    margin-left: 20%;
    font-size: 10px;
    /* width: 500px; */
    white-space: pre-wrap;
}

.booking__verticalline{
    /* margin-top: 200px; */
    height: 500px;
    border-left:  solid ;
    color: white;
    margin-left: 209px;
    /* text-align: center; */
    margin-top: 120px;
    /* margin-left: 50%; */
}

.define__detail{
    font-size: 30px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* float: left; */
}

.booking__redirect{
    margin-top: 200px;
    margin-left: 183px;
    /* flex-direction: column; */
    /* display: flex; */
    

}

.user__button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 25px;
    border: solid;
    border-radius: 20px;
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: rgb(240, 243, 62);
}

.user__button:active{
    background-color: white;
    color:black;
}

.user__button:hover{
    background-color: white;
    color: black;
}

.group__button{
    /* margin-top: 5%; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    padding: 25px;
    border: solid;
    border-radius: 20px;
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: rgb(150, 240, 65);
}

.group__button:active{
    background-color: white;
    color: black;
}

.group__button:hover{
    background-color: white;
    color: black;
}

