.booking{
    margin-top: 25%;
}

.booking__page{
    display: flex;
}

.booking__process{
    margin-top: 20%;
    margin-left: 20%;
}

.booking__verticalline{
    /* margin-top: 200px; */
    height: 500px;
    border-left:  solid ;
    color: black;
    margin-left: 230px;
    margin-top: 120px;

}

.booking__redirect{
    margin-top: 316px;
    margin-left: 300px;
    

}

.booking__button{
    padding: 20px;
    border: solid;
    border-radius: 5px;
    font-size: 20px;
}