.History__booking{
    /* margin-top: 10%; */
    
}

.History__dropdown{
    padding: 20px;
    margin-left: 20px;
    margin-top: 5%;
    margin-bottom: 20px;
    width: 30%;
    left: 35%;
    /* margin-left: 400; */
}

.HistoryBooking__bg{
    /* margin-top: -10%; */
    background-color: rgb(19,28,43);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position: left;
    left: 0;
    top: 0;
}

.HistoryBooking__root{
    margin-top: -30%;
    background-color: rgb(19,28,43);
    /* height: 200vh; */
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position: left;
    left: 0;
    top: 0;
}

.HistoryBooking__details{
    display: flex;
    /* background-image: url('/tennis.jpg'); */
    background-color:rgb(19,28,43);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position: left;
    left: 0;
    margin-top: -140px;
}

.HistoryBooking__detail{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
}

.HistoryBooking__all{
    margin-left: 505px;
}

/* .HistoryBooking__dropdown{
    margin-left: 400;
} */