/* body,html{
    height: 100%;
} */

.contact__background{
    /* background-image: url('/mockaroon.jpg'); */
    /* background-color: black; */
    background-color: rgb(19,28,43);
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position: left;
    left: 0;
    top: 0;
    
    /* height: 190vh; */
    /* background-color: turquoise; */

    /* height: 300px;
    width: 100%;
    background-position:left;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: top; 
    top: 0;
    left: 0;
    width: 100%;
    height: 190vh; */
}

.test__contact{
    /* margin-top: 25%; */
    top:10%;
    left: 25%;
    height: 140px;
    width: 800px;
    display: block;
    color: white;
    position: absolute;
    font-size: 140px;
    font-weight: 700;
    line-height: 140px;
    text-decoration: none solid rgb(255,255,255);
    text-align: center;
    text-transform: uppercase;
    word-spacing: 0px;
}

