.list-group li{
    list-style: none;
}

.li__booking{
    margin: 10px;
    padding: 10px;
    font-size: 12px;

}

.Booking__submit{
    font-size: 20px;
    border: solid;
    border-radius: 4px;
    background-color: greenyellow;
    padding: 10px;
    margin: 10px;
}

.Booking__submit:active {
    background-color: white;
}

.form-control{
    border: black solid;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.Header__label{
    font-size: 20px;
}