.list-group li{
    list-style: none;
}

.li__booking{
    margin: 8px;
    padding: 8px;
    font-size: 20px;

}

.Booking__submit{
    font-size: 20px;
    border: solid;
    border-radius: 4px;
    background-color: greenyellow;
    padding: 10px;
    margin: 10px;
}

.Booking__submit:active {
    background-color: white;
}

.form-control{
    border: black solid;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.Header__label{
    font-size: 20px;
}

.price__details{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15   px;
    color: black;
    
}

.price__submit{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(40, 141, 10);
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
}