.Dropdownlist {
    position: absolute;
    list-style: none;
    right: 190px;
    margin-top: 30px;
}

.Dropdownlist li{
    list-style: none;
    padding: 10px;
    background-color: whitesmoke;
    
}

.Dropdownlist li:hover{
    filter: brightness(90%);

}

.list_detail{
    text-decoration: none;
    padding: 10px;
    width: 100%;
    height: 100%;
    color: green;
    display: block;
    font-size: 15px;
  
  
}