.Dropdownlist {
    /* background: whitesmoke; */
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
}
.Dropdownlist li{
    list-style: none;
    padding: 15px;
    font: 20px solid;
    background-color: whitesmoke;
    
}

.Dropdownlist li:hover{
    filter: brightness(90%);

}

.list_detail{
    text-decoration: none;
    padding: 15px;
    width: 100%;
    height: 100%;
    color: green;
    display: block;
  
  
}