.list_row{
    margin-top: -20%;
    /* margin-left: 630px; */
    position: absolute;
    background-color:rgb(19,28,43);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position: left;
    left: 0;
    top: 0;
    position: static;

}

.background{
    /* margin-top: -20%; */
    /* background-color:rgb(19,28,43);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position: left;
    left: 0; */
    /* top: 200px; */
}

.list_group{
    /* position: absolute;
    list-style: none;
    right: 190px;
    margin-top: 30px; */

    /* position: absolute; */
    list-style: none;
    /* margin-right: 10px; */
    /* margin-top: 30px; */
    /* top: 50%; */
    /* right: 50%; */
    display: inline-block;
    display: flex;
    margin-right: 20px;
    /* padding: 10px; */
}

.list_group li{
    /* list-style: none; */
    /* padding: 10px; */
    /* background-color: whitesmoke; */
    /* text-decoration: none; */
    /* background-color: rgb(72, 210, 30); */
    /* margin-top: 100px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: rgb(72, 210, 30);
    text-decoration: none;
    list-style: none;
    border-radius: 5px;
    border: solid 3px;
    border-color: black;
    color: white; */
    text-decoration: none;

}

.list_groupname{
    margin-top: 150px;
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: rgb(72, 210, 30);
    text-decoration: none;
    list-style: none;
    border-radius: 5px;
    border: solid 3px;
    border-color: black;
    color: white;
/* 
    text-decoration: none;
    padding: 10px;
    width: 100%;
    height: 100%;
    color: green;
    display: block;
    font-size: 15px; */


}

.submit_select{
    /* margin-top: 300px; */
}

