
.group__detail{
    margin-top: 100px;
    top:20px;
}

.Join__group{
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    border: solid;
    background-color: greenyellow;
    color: white;
    font-size: 20px;
}

.Join__group:active {
    background-color: white;
}

.Leave__group{
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    border: solid;
    background-color: red;
    color: white;
    font-size: 20px;
}

.Leave__group:active {
    background-color: white;
}

.Header__group{

}

.Header__table{
    margin-right: 5px;
    padding: 10px;
}

.Member__group{
    display: flex;
    
    
}

.Member__table{
    margin-right: 10px;
    padding: 10px;
    font-size: 10px;
}
