.Group{
    margin-top: 10%;
    margin-left: 20%;
    display: flex;
}

.Group1{

    margin-left: 20px;
    text-decoration: none;

}

.list_row{
    margin-top: 10%;
    /* margin-left: 10%; */
}

.list_groupname{
    margin: 20px;
    font-size: 20px;
    text-decoration: none;

}

.list_group{
    text-decoration: none;
}