
.group__detail{
    margin-top: 140px;
    top:20px;
}

.groupdetail__bg{
    display: flex;
    /* background-image: url('/tennis.jpg'); */
    background-color:rgb(19,28,43);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position: left;
    left: 0;
    margin-top: -140px;
}

.groupdetailRoot__bg{
    margin-top: -39.5%;
    background-color: rgb(19,28,43);
    /* height: 200vh; */
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position: left;
    left: 0;
    top: 0;
}

.groupdetail__details{

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.Join__group{
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    border: solid;
    background-color: greenyellow;
    color: white;
    font-size: 20px;
}

.Join__group:active {
    background-color: white;
}

.Leave__group{
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    border: solid;
    background-color: red;
    color: white;
    font-size: 20px;
}

.Leave__group:active {
    background-color: white;
}

.Header__group{
    display: flex;
}

.Header__table{
    margin-right: 5px;
    padding: 10px;
}

.Member__group{
    display: flex;
    
    
}

.Member__table{
    margin-right: 10px;
    padding: 10px;
    font-size: 10px;
}

.privacy__on{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    padding: 15px;
    border: solid;
    border-radius: 20px;
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: rgb(150, 240, 65);
}

.privacy__on:active{
    background-color: white;
    color: black;
}

.privacy__on:hover{
    background-color: white;
    color: black;
}

.privacy__off{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    padding: 15px;
    border: solid;
    border-radius: 20px;
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: rgb(218, 30, 30);
}

.privacy__off:active{
    background-color: white;
    color: black;
}

.privacy__off:hover{
    background-color: white;
    color: black;
}

.member__leave{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    padding: 15px;
    border: solid;
    border-radius: 20px;
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: rgb(218, 30, 30);
}

.member__leave:active{
    background-color: white;
    color: black;
}

.member__leave:hover{
    background-color: white;
    color: black;
}

.free__join{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    padding: 25px;
    border: solid;
    border-radius: 20px;
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: rgb(150, 240, 65);
}

.free__join:active{
    background-color: white;
    color: black;
}

.free__join:hover{
    background-color: white;
    color: black;
}