.Header__part{
    align-items: center;
    /* background-color: rgb(19,28,43); */
    background-color: transparent ;
    display: flex;
    position:absolute;
    justify-content: space-between;
    top: 0;
    width: 100%;
    padding: 20px;
    box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
}

.Header__bar{
    display: flex;
    
}
.Header__right{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
    
}

.Header__right > :hover{
    color: white;
    background-color: rgb(131, 130, 130);
    border-radius: 5px;
}

.Header__button{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
}

/* .Header__button :hover{
    color: white;
    background-color: rgb(131, 130, 130);
    border-radius: 5px;
} */

.Header__dropdown{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
}

.Header__dropdown > :hover{
    color: rgb(255, 255, 255);
    background-color: rgb(131, 130, 130);
    border-radius: 5px;
}

.Header__text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 20px;
    float: left;
    color: white;
    font-weight: bold;
}
/* 
.Header__home {
    color: white;
} */

.Header__home > :hover{
    color: rgb(255, 255, 255);
}


.nav-link{
    
    margin-right: 20px;
   
}

.nav-link-a{ 
    border: solid 2px;
    border-radius: 4px;
    background-color: rgb(240, 98, 122);
    color: white;
}

.nav-link-login{
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin-right: 20px;
    margin-top: 7px;
    background-color: rgb(98, 155, 240);
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
}

.nav-link-signup{
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin-right: 20px;
    margin-top: 7px;
    /* background-color: rgb(240, 98, 122); */
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    
}


.nav-link-logined-group{
    /* padding: 20px; */
    /* border-radius: 10px; */
    color: white;
    /* margin-right: 20px; */
    /* margin-top: 7px; */
    text-decoration: none;
    /* margin-right: 20px; */
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    font-weight: bold;
}

.nav-link-logined-username{
    /* padding: 20px; */
    /* border-radius: 10px; */
    color: white;
    /* margin-right: 20px; */
    /* margin-top: 7px; */
    text-decoration: none;
    /* margin-right: 20px; */
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    font-weight: bold;
}


.nav-link-logined-logout{
    padding: 10px;
    border-radius: 10px;
    color: white;

    margin-top: 7px;
    background-color: rgb(206, 15, 31);
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
}

/* .nav-link-logined-logout >:active{
    background-color: white;

} */


.nav-link-signup > :hover{
    color: black;
}

.nav-link-login > :hover{
    color: black;
}

.nav-link-logined-group > :hover{
    color: white;
    background-color: rgb(131, 130, 130);
    border-radius: 5px;
}

.nav-link-logined-username > :hover{
    color: white;
    background-color: rgb(131, 130, 130);
    border-radius: 5px;
}

.nav-link-logined-logout > :hover{
    color:black
}


.nav-link-notification {
    margin-right: 20px;
    
}