.Header__part{
    align-items: center;
    background-color: whitesmoke;
    background-color: transparent ;
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    width: 100%;
    /* padding: 10px; */
    box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
    
    /* height:20px; */
    /* margin: 2%; */

}

.Header__home{
    margin-left: 20px;
    /* margin-top: 20px; */
    text-align: left;
}
.Header__bar{
    display: flex;
    
}
.Header__right{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
    
}

.Header__text{

    font-size: 20px;
    /* font-weight: bold; */
    padding: 20px;
    float: left;

}


.Header__home > :hover{
    color: rgb(238, 86, 86);
}
/* 
.Header__right > :hover{
    background-color: rgb(238, 86, 86);
    color: white;
    background-color: rgb(19, 18, 18);
} */

.nav-link{
    
    margin-right: 20px;
   
}

.nav-link-a{ 
    border: solid 2px;
    border-radius: 4px;
    background-color: rgb(240, 98, 122);
    color: white;
}

.nav-link-login{
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin-right: 20px;
    margin-top: 7px;
    background-color: rgb(98, 155, 240);
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    
}

.nav-link-signup{
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin-right: 20px;
    margin-top: 7px;
    background-color: rgb(240, 98, 122);
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    
}

.nav-link-signup > :hover{
    color: black;
}

.Header__dropdown li{
    list-style: none;
}

/* .Header__rightbutton > :hover{
    color:red;
} */
/* .Header__booking{
    margin-left: 65%;
    border: solid;
}

.Header__rule{
    margin-left: 5%;
    border: solid;
}

.Header__contact{
    margin-left: 5%;
    border: solid;
}

.Header__login{
    margin-left: 5%;
    border: solid;
} */