.home__text{
    margin-top: 25%;
}


 body, html {
    height: 100%;
    }  
    
.home__background{
    
    /* background-image: url('/LCW-jump-smash.jpg') ; */
    /* height: 300px;
    width: 100%; */
    background-position:left;
    background-repeat: no-repeat; 
    background-size: cover;
    /* background-position: top;  */
    /* top: 0;
    left: 0; */
    /* min-width: 100%;
    min-height: 100%; */
    width: 100%;
    height: 190vh;
    
    /* top: 0;
    left: 0; */
    /* position: relative; */
   
  
    
    
}

/* .home__text{
    top:45%;
    left: 45%;
    color: white;
    position: absolute;

} */
