.home__text{
    /* margin-top: 15%; */
}


 /* body, html {
    height: 100%;
    }   */
    
.home__background{
    
    background-image: url('/LCW-jump-smash.jpg') ;
    width: 100%;
    background-position:left;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: top; 
    top: 0;
    left: 0;
    height: 100vh;   
}

.home__text{
    top:45%;
    left: 45%;
    color: white;
    position: absolute;

}
