.home__text{
    /* margin-top: 15%; */
}


 /* body, html {
    height: 100%;
    }   */
    
.home__background{
    
    background-image: url('/LCW-jump-smash.jpg') ;
    width: 100%;
    background-position:left;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: top; 
    top: 0;
    left: 0;
    height: 100vh;   
}

.home__text{
    top:198px;
    left: 25%;
    height: 140px;
    width: 800px;
    display: block;
    color: white;
    position: absolute;
    font-size: 140px;
    font-weight: 700;
    line-height: 140px;
    text-decoration: none solid rgb(255,255,255);
    text-align: center;
    text-transform: uppercase;
    word-spacing: 0px;

}
