/* .home{
    margin-top: 25%;
} */


body, html {
    height: 100%;
    }
    
.home__background{
    
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
   
  
    
    
}

.home__text{
    top:45%;
    left: 45%;
    color: white;
    position: absolute;

}
