/* .Login__part{

    
} */

.Login__input{
    border-radius: 30px;
    border: solid 2px;
    padding: 20px;
    background: rgb(253, 224, 190);
    width: auto;

}

/* .Login__avatar{

    width: 50px;
    align-items: center;
} */

.Login__header{

    font-size: 40px;
}

.Login__button{
    padding: 10px;
    margin-top: 20px;
    width: 15em;
    border: solid;
    font-weight: 999;
    font-size: large;
}


.Input__checkbox{
    display: flex;
    padding: 15px;
}

.Input__rememberme{
    margin-left: 20px;
    margin-top: -3px;
}

.Input__forgotpass{
    margin-left: 40px;
    margin-top: -3px;
}

.Login__line{

    margin-top: 20px;
}

.Input__type{
    padding: 10px;
    margin-top: 10px;
    display: flex;
    border: solid;
    border-radius: 20px;
}
.Input__icon{
    padding-right: 10px;
}

.Input__input{
    width: 20em;
    height: 30px;
    background-color: rgb(255, 233, 209);
    border: none;
}



/* .Login__regis{
    display: flex;
} */