.Dropdownlist {
    /* background: whitesmoke; */
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
}
.Dropdownlist li{
    list-style: none;
    padding: 10px;
    font: 12px solid;
    background-color: whitesmoke;
    
}