/* .History__payment{
    margin-top: 25%;
} */

.HistoryPayment__bg{
    background-color: rgb(19,28,43);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position: left;
    left: 0;
    top: 0;
}

.HistoryPayment__root{
    margin-top: -30%;
    background-color: rgb(19,28,43);
    /* height: 200vh; */
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position: left;
    left: 0;
    top: 0;
}

.HistoryPayment__detail{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
}

.HistoryPayment__all{
    margin-left: 450px;
}