.profile__background{
    margin-top: 9%;
}

.profile_username{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: blue;
    margin-left: -1000px;
}

.profile_firstname{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
    /* margin-left: -800px; */
    text-align: start;
    margin-left: 250px;
}

.profile_email{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
    /* margin-left: -800px; */
    text-align: start;
    margin-left: 250px;
    /* align-self: flex-start; */
}

.profile_gender{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
    /* margin-left: -700px; */
    text-align: start;
    margin-left: 250px;
}

.profile_birthday{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
    /* margin-left: -800px; */
    text-align: start;
    /* margin-left: 250px; */
    text-align: start;
    margin-left: 250px;
}

.profile_tel{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
    /* margin-left: -800px; */
    text-align: start;
    margin-left: 250px;
}

.profile_topic{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
    /* margin-left: -800px; */
    text-align: start;
    margin-left: 250px;
    border-radius: 10px;
    border: 4px solid;
    flex-wrap: wrap;
}