.profile__background{
    margin-top: 9%;
    /* background-color: rgb(19,28,43);
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position: left;
    left: 0;
    top: 0; */
}

.profile__body{
    margin-top: -50%;
}
.profile_username{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    margin-left: -950px;
}

.profile_firstname{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    text-align: start;
    margin-left: 250px;


    /* top:10%;
    left: 25%;
    height: 140px;
    width: 800px;
    display: block;
    color: white;
    position: absolute;
    font-size: 140px;
    font-weight: 700;
    line-height: 140px;
    text-decoration: none solid rgb(255,255,255);
    text-align: center;
    text-transform: uppercase;
    word-spacing: 0px; */
}

.profile_email{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    /* margin-left: -800px; */
    text-align: start;
    margin-left: 250px;
    /* align-self: flex-start; */
}

.profile_gender{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    /* margin-left: -700px; */
    text-align: start;
    margin-left: 250px;
}

.profile_birthday{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;

    text-align: start;
    text-align: start;
    margin-left: 250px;
}

.profile_tel{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;

    text-align: start;
    margin-left: 250px;
}

.profile_topic_name{
    
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    margin-left: -940px;
    border-radius: 10px;
    border: 4px solid;
    flex-wrap: wrap;
    display: inline;
}

.profile_topic_contact{
    
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    margin-left: -768px;
    border-radius: 10px;
    border: 4px solid;
    flex-wrap: wrap;
    display: inline;
}

.profile_topic_basic{
    
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    margin-left: -800px;
    border-radius: 10px;
    border: 4px solid;
    flex-wrap: wrap;
    display: inline;
}

.background__colorfillin{
    margin-top: -10%;
    background-color: rgb(19,28,43);
    height: 120vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position: left;
    left: 0;
    top: 0;
    
}