.Refund__header{
    font-size: 35px;
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.Refund__accountDetailName{
    display: flex;
}

.Refund__accountDetailID{
    display: flex;
}

.Refund__accountID{
padding: 10px;
border: 4px solid;
border-radius: 4px;
margin-left: 35px;

}

.Refund__accountName{
    padding: 10px;
    border: 4px solid;
    border-radius: 4px;

}

.Refund__inputDetail{
    font-size: 20px;
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-top: 5px;
    margin-right: 5px;
}

.Refund__li{
    font-size: 20px;
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-top: 5px;
    display: flex;
    
}

.Refund__checkbox{
    margin-right: 10px;
    margin-top: 28px;
}

.Refund__submit{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    padding: 15px;
    border: 4px solid black;
    border-radius: 10px;
    background-color: rgb(141, 201, 21);
}

.Refund__submit:hover{
    background-color: white;
    color: black;
}

.Refund__submit:active{
    background-color: white;
    color: black;
}