.week__day{
    font-size:40 px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 15%;    
}

.week__dropdown{
    padding: 20px;
    /* margin-top: 15%; */
    width: 30%;
    left: 526px;
}

.test{
    background-color: rgb(19,28,43);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position: left;
    left: 0;
    top: 0;
    /* position: sticky; */
}

.All_form{
    margin-top: -50%;
    background-color: rgb(19,28,43);
    /* height: 200vh; */
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position: left;
    left: 0;
    top: 0;

}

.group_table{
    margin-left: 584.5px;
}